
//- Start footer Section 
footer 
    .container
        .footer-content.row
            .footer-logo 
                img(src="../../assets/images/Logo.png", alt="Logo")
            .footer-links.row
                .ft-link 
                    a(href="../../index.html")  الصفحة الرئيسية
                .ft-link 
                    a(href="../../products.html")  جميع المنتجات
                .ft-link 
                    a(href="../../About-us.html")  من نحن
                .ft-link 
                    a(href="../../contact-us.html")  اتصل بنا
            .footer-social-media.row
                .social-link 
                    a(href="http://twitter.com") 
                        img(src="../../assets/images/twitter.webp", alt="twitter")
                .social-link
                    a(href="http://instagram.com")  
                        img(src="../../assets/images/instagram.webp", alt="instagram")
                .social-link
                    a(href="https://web.telegram.org/k/")  
                        img(src="../../assets/images/telegram.webp", alt="telegram")
                .social-link
                    a(href="https://web.whatsapp.com/")  
                        img(src="../../assets/images/whatsapp.webp", alt="whatsapp")
    .copy-right 
        | © Soft Food 2021 All Rights Reserved.




//- End footer Section 