//-Start Section Box Title Mixin
mixin sectionIntro(sectionTitle,paragraph)
    div(class="section-box-title")
        img(src="../../assets/images/sectionTitlebg.png", alt="section-title-bg", class="section-title-bg")
        div(class="section-title")
            span(class="section-main-title")= sectionTitle
            
        p(class="section-explane-title")= paragraph
//-End Section Box Title Mixin

