script(src="../../assets/js/jquery-3.6.0.min.js") 
script(src="../../assets/js/bootstrap.min.js") 
script(src="../../assets/js/owl.carousel.min.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js") 
script(src="../../assets/js/script.js") 
