extends index.pug
block pageTitle
    title المنتجات
block pageBody 
    .path-page
        .container 
            block pathTitle 
                .path-title.products-title
                    h2.all-products-titl التصنيفات
                    span.products-number المشروبات 
                    
    block pageContent
        .all-products-box
            .container 
                .all-products-content.category-page
                    //- Start The Most Ordered Section 
                    .most-order-section#mostOrdered
                            .most-ordered-boxes.row
                                .col-md-4.col-lg-3
                                    .most-order-item 
                                        .most-order-img-box
                                            .ms-img-box 
                                                a(href="../product-details.html") 
                                                    img(src="../assets/images/smoothies3.jpg", alt="Most perfume ordered" , class="img-dims")
                                        .most-content
                                            .perfume-name-and-size
                                                .perfume-name عصير أفوكادو
                                                .perfume-size (100مل)
                                            .perfume-price-box
                                                .perfume-old-price $6
                                                .perfume-price $4.99
                                            button.add-to-cart
                                                svg.cart 
                                                    use(href="../assets/images/icons/icon.svg#cart")
                                                p.add-to-cart-title أضف للعربة
                                .col-md-4.col-lg-3
                                    .most-order-item 
                                        .most-order-img-box
                                            .ms-img-box 
                                                a(href="../product-details.html") 
                                                    img(src="../assets/images/smoothies3.jpg", alt="Most perfume ordered" , class="img-dims")
                                        .most-content
                                            .perfume-name-and-size
                                                .perfume-name عصير أفوكادو
                                                .perfume-size (مُتوفر)
                                            .perfume-price-box
                                                .perfume-old-price $6
                                                .perfume-price $4.99
                                            button.add-to-cart  
                                                svg.cart 
                                                    use(href="../assets/images/icons/icon.svg#cart")
                                                p.add-to-cart-title أضف للعربة
                                .col-md-4.col-lg-3
                                    .most-order-item 
                                        .most-order-img-box
                                            .ms-img-box 
                                                a(href="../product-details.html") 
                                                    img(src="../assets/images/smoothies3.jpg", alt="Most perfume ordered" , class="img-dims")
                                        .most-content
                                            .perfume-name-and-size
                                                .perfume-name عصير أفوكادو
                                                .perfume-size (مُتوفر)
                                            .perfume-price-box
                                                .perfume-old-price $6
                                                .perfume-price $4.99
                                            button.add-to-cart
                                                svg.cart 
                                                    use(href="../assets/images/icons/icon.svg#cart")
                                                p.add-to-cart-title أضف للعربة

                                .col-md-4.col-lg-3
                                    .most-order-item 
                                        .most-order-img-box
                                            .ms-img-box 
                                                a(href="../product-details.html") 
                                                    img(src="../assets/images/smoothies3.jpg", alt="Most perfume ordered" , class="img-dims")
                                        .most-content
                                            .perfume-name-and-size
                                                .perfume-name عصير أفوكادو
                                                .perfume-size (مُتوفر)
                                            .perfume-price-box
                                                .perfume-old-price $6
                                                .perfume-price $4.99
                                            button.add-to-cart
                                                svg.cart 
                                                    use(href="../assets/images/icons/icon.svg#cart")
                                                p.add-to-cart-title أضف للعربة
                                .col-md-4.col-lg-3
                                    .most-order-item 
                                        .most-order-img-box
                                            .ms-img-box 
                                                a(href="../product-details.html") 
                                                    img(src="../assets/images/smoothies3.jpg", alt="Most perfume ordered" , class="img-dims")
                                        .most-content
                                            .perfume-name-and-size
                                                .perfume-name عصير أفوكادو
                                                .perfume-size (مُتوفر)
                                            .perfume-price-box
                                                .perfume-old-price $6
                                                .perfume-price $4.99
                                            button.add-to-cart
                                                svg.cart 
                                                    use(href="../assets/images/icons/icon.svg#cart")
                                                p.add-to-cart-title أضف للعربة

                                .col-md-4.col-lg-3
                                    .most-order-item 
                                        .most-order-img-box
                                            .ms-img-box 
                                                a(href="../product-details.html") 
                                                    img(src="../assets/images/smoothies3.jpg", alt="Most perfume ordered" , class="img-dims")
                                        .most-content
                                            .perfume-name-and-size
                                                .perfume-name عصير أفوكادو
                                                .perfume-size (مُتوفر)
                                            .perfume-price-box
                                                .perfume-old-price $6
                                                .perfume-price $4.99
                                            button.add-to-cart  
                                                svg.cart 
                                                    use(href="../assets/images/icons/icon.svg#cart")
                                                p.add-to-cart-title أضف للعربة
                                .col-md-4.col-lg-3
                                    .most-order-item 
                                        .most-order-img-box
                                            .ms-img-box 
                                                a(href="../product-details.html") 
                                                    img(src="../assets/images/smoothies3.jpg", alt="Most perfume ordered" , class="img-dims")
                                        .most-content
                                            .perfume-name-and-size
                                                .perfume-name عصير أفوكادو
                                                .perfume-size (مُتوفر)
                                            .perfume-price-box
                                                .perfume-old-price $6
                                                .perfume-price $4.99
                                            button.add-to-cart
                                                svg.cart 
                                                    use(href="../assets/images/icons/icon.svg#cart")
                                                p.add-to-cart-title أضف للعربة
                                .col-md-4.col-lg-3
                                    .most-order-item 
                                        .most-order-img-box
                                            .ms-img-box 
                                                a(href="../product-details.html") 
                                                    img(src="../assets/images/smoothies3.jpg", alt="Most perfume ordered" , class="img-dims")
                                        .most-content
                                            .perfume-name-and-size
                                                .perfume-name عصير أفوكادو
                                                .perfume-size (مُتوفر)
                                            .perfume-price-box
                                                .perfume-old-price $6
                                                .perfume-price $4.99
                                            button.add-to-cart
                                                svg.cart 
                                                    use(href="../assets/images/icons/icon.svg#cart")
                                                p.add-to-cart-title أضف للعربة
                            nav(aria-label='Page navigation example')
                                ul.pagination
                                    li.page-item
                                        a.page-link.go-to(href='#' aria-label='Previous')
                                            span(aria-hidden='true') &#x2039;
                                    li.page-item
                                        a.page-link(href='#') 1
                                    li.page-item
                                        a.page-link(href='#') 2
                                    li.page-item
                                        a.page-link(href='#') 3
                                    li.page-item
                                        a.page-link.go-to(href='#' aria-label='Next')
                                            span(aria-hidden='true') &#x203A;
                    //- End The Most Ordered Section 

        
