extends reset-password.pug

block resetTitle
    | أدخل البريد الالكتروني
block resetForm
    .form-subject.enter-email
        label(for="email", class="label-class") أدخل البريد الالكتروني
        input#email(type="email", placeholder="أدخل البريد الالكتروني")
block resetBtn
    button(type="submit") التالي     