extends profile-my-info.pug
block pageTitle
    title تغيير كلمة المرور
block profileLinkContent
    .profile-change-password 
        .data-title تغيير كلمة السر
        .change-pass-profile-box 
            .form-subject
                label(for="changeProfPassword", class="label-class") كلمة المرور القديمة  *
                input#changeProfPassword(type="password",placeholder="أدخل كلمة المرور الحالية" ) 
            .form-subject
                label(for="newProfPassword", class="label-class") كلمة المرور الجديدة *
                input#newProfPassword(type="password",placeholder="أدخل كلمة المرور الجديدة" ) 
        .log-page-link 
            button(type="submit") تحديث  