doctype html
html(lang="en" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include includes/style.pug
        include includes/pugvars.pug
        include includes/mixin.pug
        block pageTitle
            title تغيير كلمة المرور

    body
        .sign-container.row

            .col-lg-6.form-log-col 
                .form-log.reset-own
                    h1
                        block resetTitle
                            |إعادة تعيين كلمة المرور
                    .form-inputs-box
                        block resetForm
                            .form-subject
                                label(for="passowrd", class="label-class") انشاء كلمة مرور
                                input#passowrd(type="password",placeholder=" ادخل كلمة المرور") 
                            .form-subject
                                label(for="confirmPassowrd", class="label-class") تأكيد كلمة المرور
                                input#confirmPassowrd(type="password",placeholder="تأكيد كلمة المرور") 
                    .log-page-link
                        block resetBtn
                            button(type="submit") تحديث 

            .col-lg-6.sing-bg
                
                
