doctype html
html(lang="en" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include includes/style.pug
        include includes/pugvars.pug
        include includes/mixin.pug
        block pageTitle
            title Sing Up
    body
        .sign-container.row

            .col-lg-6.form-log-col 
                .form-log
                    h1 انشاء حساب جديد
                    .form-inputs-box
                        .form-subject
                            label(for="emailAddress" , class="label-class") عنوان البريد الكتروني
                            input#emailAddress(type="email" , placeholder='أدخل عنوان البريد الالكتروني')
                        .form-subject
                            label(for="passowrd", class="label-class") ادخل كلمة المرور
                            input#passowrd(type="password",placeholder=" ادخل كلمة المرور") 
                        .form-subject
                            label(for="confirmPassowrd", class="label-class") تأكيد كلمة المرور
                            input#confirmPassowrd(type="password",placeholder="تأكيد كلمة المرور") 
                    .log-page-link 
                        button(type="submit") سجل 
                    .log-question
                        span لديك حساب ؟
                            a(href="../sing-in.html") تسجيل الدخول 
            .col-lg-6.sing-bg
                
                
