@use '..//variables/colors' as *;
// Start Dirction 
// End Dirction 
// Centering Flex
@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Button Style
@mixin login-btn () {
    Width: 122px;
    Height: 43px;
    border-radius: 3px;
}

// BG linear gradient
@mixin bg_img($deg, $color_1_rate, $color_2_rate) {
    background-image: linear-gradient($deg, $lg_color_1 $color_1_rate, $lg_color_2 $color_2_rate);
}

// Overlay Mixin
@mixin overlay($color, $opacity) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color, $opacity);
}

// Animation Mixin
@mixin keyF($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// Media Queries Mixin
@mixin breakpoint($point) {
    @if $point==phone {
        @media (max-widh: 576px) {
            @content;
        }
    }
    @if $point==tablet {
        @media (max-widh: 767px) {
            @content;
        }
    }
    @else if $point==small {
        @media (min-width: 768px) and (max-widh: 991px) {
            @content;
        }
    }
    @else if $point==medium {
        @media (min-width: 992px) and (max-widh: 1199px) {
            @content;
        }
    }
    @else if $point==large {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

// Placeholder
@mixin x-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &::-ms-input-placeholder {
        @content;
    }
}